html,body,div,h1,h2,h3,h4,h5,h6,p,img,ul,li,input,span,a,i{ padding: 0;margin: 0; }
html{
  font-family: Helvetica Neue,Helvetica,PingFang SC,Hiragino Sans GB,Microsoft YaHei,SimSun,sans-serif
}
img{ border: none; vertical-align: top;}
a{ text-decoration: none; }
input,textarea,button{ outline: none;-webkit-appearance: none; }
textarea{ resize: none; overflow: hidden; }
li{ list-style: none; }
.rem-hack{font-size: 0;}
.clear,.clear-fix{ zoom:1; }
.clear:after,.clear-fix:after{ content: ""; display: block; clear: both; }
.fl,.pull-left{ float: left; }
.fr,.pull-right{ float: right; }
.markdown-body h1, .markdown-body h2, .markdown-body h3, .markdown-body h4, .markdown-body h5, .markdown-body h6 {
  font-weight: 100 !important;
}
.full {width: 100%}